{%  extends "../base.html" %}
{% load static %}
{% block title %}Receive Message{% endblock %}
{% block description %}You have a new message. Click the link to decrypt and destroy the message.{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <h3>Decrypt and destroy.</h3><!-- The above form looks like this -->
          <form action="{% url 'result' %}" method="post">
              {% csrf_token %}
              <div class="row">
              {% if default_key == 0 %}
                  <p>Enter the text you were provided, it's the final key we need to decrypt and destroy the original message.</p>

                    <label for="exampleMessage">Message</label>
                    <textarea class="u-full-width" name="key" value="" placeholder="Type the message you were sent here. It's the final key we need to decrypt and destroy the message that was sent to you. You can leave this blank if you were not provided with an encryption phrase." id="exampleMessage"></textarea>
                    <input type="hidden" name="e_id" value="{{ e_id }}">
              {% else %}
                  <p>We have found your message, and are ready to delete it. Click the button below to read and destroy it.</p>

                    <input type="hidden" name="key" value="">
                    <input type="hidden" name="e_id" value="{{ e_id }}">
              {% endif %}
              </div>
              <input type="submit" class="button" style="margin-top: 10%;" value="Read Message">
        </form>
      </div>
    </div>
</div>
{% endblock %}