{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}Send Lab{% endblock %}</title>
  <meta name="description" content="{% block description %}Send and Receive Encrypted Messages{% endblock %}">
  <meta name="author" content="Send Lab">
    <link rel="apple-touch-icon" sizes="180x180" href="{% get_static_prefix %}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% get_static_prefix %}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% get_static_prefix %}favicon-16x16.png">
    <link rel="manifest" href="{% get_static_prefix %}site.webmanifest">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% get_static_prefix %}normalize.css">
  <link rel="stylesheet" href="{% get_static_prefix %}skeleton.css">

    <style>
        body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
        footer {
          background-color: white;
          flex: 0 0 50px;/*or just height:50px;*/
          margin-top: auto;
        }
    </style>
</head>
<body>
{% block content %}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 20%">
        <h3>Send or receive a message.</h3>
        <p>This app is built open source to provide verifiable message encrypting.</p>
        <a class="button" href="/send">Send a message</a>
      </div>
      <div class="one-half column" style="margin-top: 20%">
        <img class="u-pull-right" style="width: 40%" src="{% get_static_prefix %}lock-closed-outline.svg">
      </div>
    </div>
    <div class="row">
        <pre>
            <code>
    built using 0 javascript.

    using AES encryption, just like Bitcoin.
            </code>
        </pre>
    </div>
  </div>
{% endblock %}

</body>

<footer class="row">
    <small>Read about the technologies used <a href="https://about.sendlab.app/">here.</a> Review the code and build <a href="https://github.com/runar-org/Runar">here.</a> Support the app with some Bitcoin <a href="bitcoin:bc1q44dgd3tgkuevdp98vldpljrgyp4nevt4fnu4pf">bc1q44dgd3tgkuevdp98vldpljrgyp4nevt4fnu4pf</a></small>
</footer>

</html>
