{%  extends "base.html" %}
{% load static %}
{% block title %}Send Message{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <h3>Message is encrypted.</h3>
        <small>Share this URL along with the encryption phrase you generated in the last step. </small>

    {% if code %}
        <div class="row">
            <pre>
                <code>{{request.get_host}}/receive/{{code}}</code>
            </pre>
        </div>
    {% else %}
        <p>For some reason, there were issues encrypting your message. Please try again a different way. Maybe a shorter message or with plain text.</p>
    {% endif %}

      <p> Remember, any message not claimed within 24 hours will be deleted by default. </p>

      </div>


        <a class="button" href="/">Send another message</a>
    </div>
</div>
{% endblock %}
