{%  extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 20%">
        <h3>Send or receive a message.</h3>
        <p>This app is built open source to provide verifiable message encrypting.</p>
        <a class="button" href="/send">Send a message</a>
      </div>
      <div class="one-half column hide-mobile" style="margin-top: 20%; text-align: center;">
        <img class="u-pull-center" style="width: 40%" src="{% get_static_prefix %}lock-closed-outline.svg">
      </div>
    </div>
    <div class="row">
        <pre>
            <code>
    built using 0 javascript.
    <br><br>
    using AES encryption, just like Bitcoin.
            </code>
        </pre>
    </div>
  </div>
{% endblock %}