{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Send Lab: Send Message</title>
  <meta name="description" content="">
  <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{% get_static_prefix %}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% get_static_prefix %}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{% get_static_prefix %}favicon-16x16.png">
    <link rel="manifest" href="{% get_static_prefix %}site.webmanifest">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% get_static_prefix %}normalize.css">
  <link rel="stylesheet" href="{% get_static_prefix %}skeleton.css">
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <h3>Encrypt a message.</h3>
        <form action="{% url 'encrypted' %}" method="post">
              {% csrf_token %}
          <div class="row">
            <label for="message">First, enter the text you want to encrypt</label>
            <textarea class="u-full-width" name="message" placeholder="Personal or private information goes here. For example (My address is: 123 Memory Lane, Windersphere Iceland)"></textarea>
          </div>

          <div class="row">
            <label for="key_phrase">Next, enter the text you want to provide to the recipient as the decryption key.</label>
            <textarea class="u-full-width" name="key_phrase" placeholder="You can leave this blank if you would only like to provide the recipient with a link, but it is less secure."></textarea>

            <small>Write this phrase down exactly as you type it here. This is the key to decrypt your message. Provide this phrase along with the link generated in the next step to the message recipient. It is not stored in the database on purpose!</small>
          </div>
            <input type="submit" class="button" style="margin-top: 5%;" value="Encrypt Message">
        </form>
      </div>
      <div class="column" style="margin-top:5%">
          <small>Read about the technologies used <a href="https://github.com/runar-org/Runar-docs">here.</a> Review the code and build <a href="https://github.com/runar-org/Runar">here.</a> Support the app with some Bitcoin <a href="bitcoin:bc1q44dgd3tgkuevdp98vldpljrgyp4nevt4fnu4pf">bc1q44dgd3tgkuevdp98vldpljrgyp4nevt4fnu4pf</a></small>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
